@use 'base' as *;

body {
    @include color($primary-color, $light_color);
    @include textlayout(left, 100% $font-stack);
    @include centerall(flex, center, center, column);

    h1 { text-align: center; }
    h2 { font-size: 20px; text-align: center; }
    p { font: 100% $paragraph-text; }
}

header {
    @include dispcont(flex, center);
    width: 70px;
    margin: 0 auto;

    img { width: 100%; padding: 3em; }
}

section {
    @include centerall(flex, center, center, column);
    @include width(700px, 100%);
    background-color: $lighter_color;
    padding: 0 0 3em 0;
    border-radius: 1em;
    border: 1px solid $detailcolor;

    #new {
        @include width(100%, 500px);
        @include centerall(flex, center, center, column);
        background-color: lighten($primary-color, 20%);
        border-right: 1px solid darken($detailcolor, 10%);
        border-left: 1px solid darken($detailcolor, 10%);
    }

    #task {
        @include width(99.2%, 100%);
        @include border(none, 0.2em 0.2em 0 0);
        font-size: 16px;
        height: 70px;
    }

    select {
        @include color(rgb(212, 212, 212), rgb(94, 94, 94));
        @include border(0, 0);
        @include size(100%, 25px);
        font-size: 12px;
        letter-spacing: 0.3px;
        border-bottom:  1px solid darken($detailcolor, 10%);
    }

    .btn {
        @include size(180px, 35px);
        @include color($light_color, $darkest_color);
        @include border(0, 0.5em);
        margin: 4em 0 0 0;
        transition: 0.2s;
        
        &:hover { @include hover(0 12px 16px 0 lighten($darker_color, 25%), pointer, scale(1.01)); }
    }

    #result {
        @include centerall(flex, center, center, column);
        @include width(500px, 100%);
        background-color: lighten($primary-color, 20%);
        border-right:  1px solid darken($detailcolor, 10%);
        border-left:  1px solid darken($detailcolor, 10%);
        border-bottom:  1px solid darken($detailcolor, 10%);

        .btn { margin: 3.5em 0 3em 0; }
        input { @include size(16px, 16px); margin: 0 20px 0 0; }
        ul { list-style-type: none; padding: 0; width: 100%; text-align: center; }

        li { 
            text-align: left; 
            padding: 2em;
            font-size: 20px;
            border-bottom: 1px solid darken($lighter_color, 3%);
        
            &:nth-child(even) { background-color:  $lighter_color; } }
    } 

    .prio-one::after {
        @include size(18px, 18px);
        content: '';
        background-image: url('../images/round-one.svg');
        background-size: contain;
        background-repeat: no-repeat;
        filter: brightness(0) invert(1);
        position: absolute;
        margin-left: 2px;
      }
    
    .prio-two::after {
        @extend .prio-one;
        background-image: url('../images/round-two.svg');
     }
    
     .prio-three::after {
        @extend .prio-one;
        background-image: url('../images/round-three.svg');
     }
}

footer {
    @include centergap(flex, center, 1em);
    @include space(20px, auto 0 0);
    align-self: center;
    align-items: center;
    margin: 0 auto;

    img { @include size(40px, 15px); }
    p { font-size: 12px; }
}

@media only screen and (max-width: 600px) {
main { width: 100%; }
.btn { border-radius: 0!important; width: 100%!important; }
#new>input { border-radius: 0; }

section { 
    border-radius: 0; 
    background-color: $primary-color; 
    border-top: 1px solid $detailcolor;
    border-bottom: 1px solid $detailcolor;}
}