@use 'base' as *;

body {
    @include color($primary-color, $light_color);
    @include textlayout(left, 100% $font-stack);
    @include centerall(flex, center, center, column);

    h1 { text-align: center; }
    h2 { font-size: 20px; text-align: center; }
    p { font: 100% $paragraph-text; }
}

header {
    @include dispcont(flex, center);
    width: 70px;
    margin: 0 auto;

    img { width: 100%; padding: 3em; }
}

section {
    @include centerall(flex, center, center, column);
    background-color: $darker_color;
    padding: 0 0 3em 0;
    width: 700px;
    border-radius: 1em;

    #new {
        @include centerall(flex, center, center, column);
        width: 500px;
        background-color: $primary-color;
    }

    #result {
        @include centerall(flex, center, center, column);
        width: 500px;
        background-color: $primary-color;

        ul { list-style-type: none; padding: 0; width: 100%; }
        li { 
            text-align: left; 
            padding: 2em;
            font-size: 20px;

            &:nth-child(odd) {
                background-color: $darkest_color;
            }
        }
    } 
}

footer {
    @include centergap(flex, center, 1em);
    @include space(20px, auto 0 0);
    align-self: center;
    align-items: center;
    margin: 0 auto;

    img { @include size(40px, 15px); }
    p { font-size: 12px; }
}

@media only screen and (max-width: 600px) {}