@use 'base' as *;

body {
    @include color($primary-color, $light_color);
    @include textlayout(left, 100% $font-stack);
    @include centerall(flex, center, center, column);

    h1 { text-align: center; }
    h2 { font-size: 20px; text-align: center; }
    p { font: 100% $paragraph-text; }
}

header {
    @include dispcont(flex, center);
    width: 70px;
    margin: 0 auto;

    img { width: 100%; padding: 3em; }
}

section {
    @include centerall(flex, center, center, column);
    background-color: $darker_color;
    padding: 0 0 3em 0;
    width: 700px;
    border-radius: 1em;

    #new {
        @include centerall(flex, center, center, column);
        width: 500px;
        background-color: $primary-color;
    }

    #task {
        width: 99.2%;
        font-size: 16px;
        height: 70px;
        border-radius: 0.2em 0.2em 0 0;
        border: none;
    }

    select {
        width: 100%;
        border-radius: 0;
        border: 0;
        background-color: $detailcolor;
        height: 25px;
        font-size: 12px;
        letter-spacing: 0.3px;
        color: grey;
    }

    .btn {
        margin: 4.5em 0 0 0;
        width: 180px;
        border-radius: 0.5em;
        height: 35px;
        border: 0;
        background-color: $light_color;
        color: $darkest_color;
        transition: 0.2s;
        
        &:hover { @include hover(0 12px 16px 0 rgba(2, 102, 196, 0.24), pointer, scale(1.01)); }
    }

    #result {
        @include centerall(flex, center, center, column);
        width: 500px;
        background-color: $primary-color;

        .btn {
            margin: 3.5em 0 3em 0;
        }


        ul { list-style-type: none; padding: 0; width: 100%; text-align: center;}
        li { 
            text-align: left; 
            padding: 2em;
            font-size: 20px;
            border-bottom: 1px solid $darkest_color;

            &:nth-child(even) {
                background-color: $darkest_color;
            }
        }
    } 
}

.prio-three::after {
    content: "\1F534"; // röd
    position: absolute;
    right: 450;
  }
  .prio-one::after {
    content: "\1F7E2"; // grön
    position: absolute;
    right: 450;
    color: black;
  }
  .prio-two::after {
    content: "\1F7E1"; // gul
    position: absolute;
    right: 450;
  }

footer {
    @include centergap(flex, center, 1em);
    @include space(20px, auto 0 0);
    align-self: center;
    align-items: center;
    margin: 0 auto;

    img { @include size(40px, 15px); }
    p { font-size: 12px; }
}

@media only screen and (max-width: 600px) {}